@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300,500,600,700,800,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

/* main body */

/* scroll behaviour smooth added to give smooth scrolling
effect*/

body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  color: rgb(61, 60, 60);
  background-color: rgb(252, 247, 247);
}

/* removing all margins and padding from bootsrap rows an cols */

.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* end main body */

/* reusable componets */

.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.text-oswald {
  font-family: "Oswald", sans-serif;
}

.text-roboto {
  font-family: "Roboto", sans-serif;
}

/* colors */

.white {
  color: #ffffff;
}

/* navbar */

/* Modify the background color */

.navbar-custom {
  background-color: rgb(185, 189, 185);
}

/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(40, 41, 40);
}

.nav-item a {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 0.151rem;
  color: rgb(61, 60, 60);
}

/* targeting all links when visited */

.nav-item a:visited {
  color: rgb(40, 41, 40);
}

/* tageting all links on hover */

.nav-item a:hover {
  color: #000000;
  transform: scale(1.1);
}

/* adding margin for larger devices */

/* callout section main page */

.masthead {
  height: 100vh;
  /* min-height: 33rem; */
  /* background-position-x: 50%; */
  background: url("images/stoicism.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main page */

p {
  font-weight: 400;
  line-height: 2rem;
}

/* history page */

.video {
  margin-top: 8rem;
  width: 35rem;
  height: 20rem;
}

/* resources page */

.podcast-text {
  line-height: 2rem;
}

/* media querys */

/* for mobile*/

@media (max-width: 767px) {
  /* background image for mobile  */
  .masthead {
    background: url("images/mobile_stoic.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* adjustments to video for mobile */
  .video {
    max-width: 20rem;
  }
}

/* for tablets*/

@media (min-width: 767px) and (max-width: 1180px) {
  /* background image for tablets */
  .masthead {
    background: url("images/unnamed.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* adjusmets to callout text for tablets */
  .callout-text {
    margin-top: 13rem;
  }
}

/* for larger tablets and above  */

@media (min-width: 1023px) {
  .navbar-nav {
    margin-left: 16rem;
  }
  .nav-item {
    font-size: 1.6rem;
    margin: 0 1rem;
  }
  .main-page-para {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
  }
}
