@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300,500,600,700,800,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

/* main body */
/* scroll behaviour smooth added to give smooth scrolling
effect*/
body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  color: rgb(61, 60, 60);
  background-color: rgb(252, 247, 247);
}

/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* end main body */

/* reusable componets */
.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.text-oswald {
  font-family: "Oswald", sans-serif;
}
.text-roboto {
  font-family: "Roboto", sans-serif;
}
/* colors */

.white {
  color: #ffffff;
}

/* navbar */
/* Modify the background color */

.navbar-custom {
  background-color: rgb(185, 189, 185);
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(40, 41, 40);
}
.nav-item a {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 0.151rem;
  color: rgb(61, 60, 60);
}

/* targeting all links when visited */

.nav-item a:visited {
  color: rgb(40, 41, 40);
}

/* tageting all links on hover */

.nav-item a:hover {
  color: #000000;
  transform: scale(1.1);
}

/* adding margin for larger devices */

/* callout section main page */
.masthead {
  height: 100vh;
  min-height: 33rem;
  background-position-x: 50%;
  background-image: url("images/stoicism.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* main page */
p {
  font-weight: 400;
  line-height: 2rem;
}

/* history page */
.video {
  margin-top: 8rem;
}

/* resources page */
.podcast-text {
  line-height: 2rem;
}
/* media querys */

/* for small tablets and mobile*/

@media (max-width: 991px) {
  /* keeping smaller text for mobile */
}
/* for tablets  and bigger*/
@media (min-width: 992px) {
  .navbar-nav {
    margin-left: 16rem;
  }
  .nav-item {
    font-size: 1.6rem;
    margin: 0 1rem;
  }
  .main-page-para {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
  }
}
/* for laptops */
@media (min-width: 1200px) {
}
/* for large desktop */
@media (min-width: 1400px) {
}

* {
  border: 2px soild red;
}
